body {
  padding-top: 50px;
  padding-bottom: 20px;
}

.ui-autocomplete-loading {
    background: white url("https://jqueryui.com/resources/demos/autocomplete/images/ui-anim_basic_16x16.gif") right center no-repeat;
}